_build/
_work/
/*.install
_opam/
.envrc

# dockcross
/dockcross
/opamroot/
/depexts-test/

# CI using dkml-workflows' DkML compilers.
#   DkML compilers populate the .opam folder.
/.opam/
#   GitHub, unlike GitLab, does not need its CI files to exist
#   before referencing them. That means the GitHub scripts do not need
#   to be checked in.
/.ci/dkml-compilers/gh-*
#   Desktop testing on Windows uses MSYS2.
/msys64/

# --inplace-build
/_w/
/dkmldir/
/dl/homebrew/
/dl/homebrew-bundle/
/dl/opam/
/dl/*.tar.gz
/Brewfile
